body, html {
    margin:0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(../images/nfl\ stadium.jpg); 
    background-size: cover;
    background-position: center; 
    /* background: linear-gradient(to bottom, black, rgb(0, 0, 24), navy, rgb(55, 55, 204), silver, white); 
    Keep this as a backup 
    */
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    padding-top: 20px;
    padding-bottom: 50px;
    background: rgb(42, 43, 44);
    width: 50%;
    border-radius: 10px;
    margin-top: 50px; 
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0; /*initially hidden */
    transition: opacity 0.8s ease-in-out; /*Fade transition*/
}

.page-title h2 {
    color:white;    
}

.page-title li {
    color: white;
}

#rules-toggle {
    color: white;
}

.navbar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    background-color: #222;
    border-bottom: 1px solid #222;
    margin-top: 0;
    padding-top: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: darkgrey; 
    margin: 0;
    padding: 0;
}

/*Welcome message styling*/
#welcome-screen {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgb(42, 43, 44);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*Check this later in accordance to quiz box*/
    margin-top: 50px;
    /* position: fixed; Keeps in the same place as rules when that disappears */
    bottom: 100px; /*Keeps above footer */
    opacity: 1; /*initially hidden */
    transition: opacity 0.8s; /*Fade transition*/
}

#welcome-screen h5 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

#welcome-screen button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    background: #020a13;
    color: white;
}

#welcome-screen button:hover {
    background: #eb722b;
}

/*Fading styling between welcome screen and quiz container*/
.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
}

/*Quiz container styling*/
.quiz-container {
    display: none; /* Hides container until difficulty chosen by user */
    width: 50%;
    max-height: 400px;
    margin: 50px auto;
    padding: 10px;
    background-color: rgb(42, 43, 44);
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.quiz-container p,
.quiz-container h3 {
    color: white;
}

/*progress indicator*/
#progress {
    font-size: 16px;
    margin-bottom: 10px;
}

/* question text */
#question {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align:center;
}

/*answer buttons */
.answer {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(189, 187, 187);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    transition: background 0.3s ease;
}

#answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px; 
    margin: auto;
}


/*hover effect on answer buttons on pointer devices */
 @media (hover: hover) and (pointer: fine) {
.answer:hover {
    background-color: #eb722b; /*Remember to change */
    }
 }

.answer:focus,
.answer:active {
    outline: none;
    box-shadow: none;
    background-color: rgb(189, 187, 187);
}

/*Timer */
#timer {
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    color: red;
}

/*Correct answer */
.correct {
    background-color: green !important;
}

/*Wrong answer */
.incorrect {
    background-color: red !important;
}

/*Register page styling */
.signup-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup-container {
    background-color: #161515;
    margin-top: 100px;  
    padding: 20px;
    width: 600px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
    color:white;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eb722b;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/* button:hover {
    background-color: #e9900b;
} */

/* Results screen styling */
#results-screen {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgb(42, 43, 44);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    
}

#results-screen h2,
#results-screen p {
    color: white;
}

#results-message {
    display: block;
    margin-top: 10px;
    color: black;
    font-size: 1em;
}

/*Footer Styles */
.footer {
    padding: 20px 0;
    text-align: center;
    font-family: arial, sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
}

.footer .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    max-width: 600px;
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    display: inline-block;
    font-size: 25px; 
}

.footer p {
    margin: 0;
    font-size: 14px;  
    color: white;    
}

.reg-footer /* Different background so different styling */ {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: arial, sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.reg-footer .reg-footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reg-social-icons {
    margin-bottom: 10px;
}

.reg-social-icons a {
    color: white;
    margin: 0 10px;
    display: inline-block;
    font-size: 25px; 
}

/*Media queries */

/*Mobiles and small screens */
@media screen and (max-width: 576px) {
    /* nav bar positioning */
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 10px;
        width: auto;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 0px;
        width: auto;
        min-width: 100px;
        z-index: 1; 
        background-color: black;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .quiz-container {
        width: 80%;
        min-height: 450px;
    }

    #question {
        font-size: 18px;
    }

    .signup-container {
        width: 90%;
    }

    .page-title {
        margin-top: 40px;
        margin-bottom:40px;
        font-size: 1.2em;
        width: 80%;
    }

    #welcome-screen {
        margin-bottom: 50px;
        font-size: 0.5em;
        width: 80%;
    }

    #welcome-screen h5 {
        font-size: 18px;
    }

    #results-screen {
        margin-top: 100px; 
    }

    #answers {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 0;
    }
}

    @media screen and (min-width: 577px) and (max-width: 768px){ 
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 10px;
        width: auto;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 0px;
        width: auto;
        min-width: 100px;
        z-index: 1; 
        background-color: black;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    } 

    #question {
        font-size: 18px;
    }

    .quiz-container {
        width: 50%;
        min-height: 450px;
    }

    #answers {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px){ 
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 10px;
        width: auto;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 0px;
        width: auto;
        min-width: 100px;
        z-index: 1; 
        background-color: black;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    } 
}
