@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    border-bottom: 1px solid #222;
    margin-top: 0;
    padding-top: 0;
    font-family: Bebas Neue,  sans-serif;
    font-size: 24px;
}

.navbar-brand img {
    height: 30px;
}

body {
    background-color: darkgrey; 
    margin: 0;
    padding: 0;
    background-image: url(../images/nfl\ stadium.jpg); 
    background-size: cover;
    background-position: center; 
}

body, html {
    margin:0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    padding-top: 20px;
    padding-bottom: 50px;
    /* background: rgb(42, 43, 44); keep or not?? Mentor meeting */
    width: 50%;
    /* border-radius: 10px; Keep if reimplementing the background*/
    margin-top: 50px; 
    margin-bottom: 100px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); keep or not?? */
    text-align: center;
    opacity: 0; /* initially hidden */
    transition: opacity 0.8s ease-in-out; /*Fade transition*/
}

.page-title h2 {
    /* color:white; */
    color: black;   
    font-family: Oswald, sans-serif; 
}

.page-title li {
    /* color: white; */
    color: black;
    font-family: Oswald, sans-serif; 
    text-align: center;
    font-size: 24px;
}

.page-title ul {
    list-style-position: inside; /*Keeps bullet points beside text rather than container edge */
}

#rules-toggle {
    /* color: white; ??? */
    color: black;
    font-family: Oswald, sans-serif; 
    font-size: 24px;
}

#start-button {
    font-family: Oswald, sans-serif; 
    font-size: 24px;
    width: 50%;
}

/*Welcome message styling - difficulty choice screen*/
#welcome-screen {
    font-family: Oswald, sans-serif; 
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgb(42, 43, 44);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*Check this later in accordance to quiz box*/
    margin-top: 50px;
    /* position: fixed; Keeps in the same place as rules when that disappears */
    bottom: 100px; /*Keeps above footer */
    opacity: 1; /*initially hidden */
    transition: opacity 0.8s; /*Fade transition*/
}

#welcome-screen h5 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

#welcome-screen button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    background: #020a13;
    color: white;
}

#welcome-screen button:hover {
    background: #eb722b;
}

/*Fading styling between welcome screen and quiz container*/
.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
}

/*Quiz container styling*/
.quiz-container {
    display: none; /* Hides container until difficulty chosen by user */
    width: 50%;
    max-height: 400px;
    margin: 50px auto;
    padding: 10px;
    background-color: rgb(42, 43, 44);
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.quiz-container p,
.quiz-container h3 {
    color: white;
    font-family: Bebas Neue, sans-serif;
}

/*Timer */
#timer {
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    color: #eb722b;
    text-align: center;
}

/*progress indicator*/
#quiz-progress {
    font-size: 24px;
    margin-bottom: 10px;
}

/* question text */
#question {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align:center;
    color: #eb722b;
}

/*answer buttons */
.answer {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(189, 187, 187);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px;
    color: black;
    transition: background 0.3s ease;
}

#answers {
    font-family: Bebas Neue, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px; 
    margin: auto;
}

/*hover effect on answer buttons on pointer devices */
 @media (hover: hover) and (pointer: fine) {
.answer:hover {
    background-color: #eb722b; /*Remember to change */
    }
 }

.answer:focus,
.answer:active {
    outline: none;
    box-shadow: none;
    background-color: rgb(189, 187, 187);
}

/*Correct answer */
.correct {
    background-color: green !important;
}

/*Wrong answer */
.incorrect {
    background-color: red !important;
}

/*Register page styling */
.signup-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup-container {
    background-color: #161515;
    margin-top: 100px;  
    padding: 20px;
    width: 600px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h3 {
    font-family: Oswald, sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.signup-container button {
    font-family: Bebas Neue, sans-serif;
    font-size: 28px;
}

.form-group {
    font-family: Oswald, sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    color:white;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eb722b;
    color: black;
    font-size: 16px;
    cursor: pointer;
} 

/* Results screen styling */
#results-screen {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgb(42, 43, 44);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    
}

#results-screen h2,
#results-screen p {
    color: white;
    font-family: Bebas Neue, sans-serif;
    font-size: 28px;
}

#results-message {
    display: block;
    margin-top: 10px;
    color: black;
    font-size: 1em;
}

#results-screen #score-text {
    font-size: 36px;
    color: #eb722b;
}

#results-screen button {
    font-family: Bebas Neue, sans-serif;
    font-size: 28px;
}

/*Footer Styles */
.footer {
    padding: 20px 0;
    text-align: center;
    font-family: arial, sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
}

.footer .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    max-width: 600px;
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    display: inline-block;
    font-size: 25px; 
}

.footer p {
    margin: 0;
    font-size: 14px;  
    color: white;    
}

.reg-footer /* Different background so different styling */ {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: arial, sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.reg-footer .reg-footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reg-social-icons {
    margin-bottom: 10px;
}

.reg-social-icons a {
    color: white;
    margin: 0 10px;
    display: inline-block;
    font-size: 25px; 
}

#signup-form button {
    width: 100%;
}

/*Media queries */
/*Additional small media query as not displaying correct on iPhone 12 and S21 during testing */
@media screen and (max-width: 420px) and (max-height: 700px) {
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 10px;
        width: auto;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 0px;
        width: auto;
        min-width: 100px;
        z-index: 1; 
        background-color: black;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .page-title {
        padding-top: 0;
        margin-top: 50px;
        margin-bottom:40px;
        width: 90%;
    }

    .page-title h2 {
        font-size: 22px;
    }

    #rules-toggle {
        font-size: 16px;
    }

    #rules ul {
        list-style-type: none;
        padding-left: 0;
    }

    .page-title li {
        font-size: 16px;
    }

    #start-button {
        font-size: 18px;
    }

    #welcome-screen {
        margin-bottom: 50px;
        width: 90%;
    }

    #welcome-screen h5 {
        font-size: 24px;
    }

    #welcome-screen button {
        font-size: 20px;
    }

    #timer {
        font-size: 18px;
        margin-top: 10px;
    }

    .quiz-container {
        width: 90%;
        min-height: 450px;
    }

    #question {
        font-size: 22px;
        margin-bottom: 0;
    }

    #results-screen {
        margin-top: 20px; 
        width: 80%;
    }

    #quiz-progress {
        font-size: 16px;
    }

    #answers {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 0;
    }

    .answer {
        font-size: 22px;
    }

    .signup-container {
        margin-top: 50px;
        width: 300px;
    }

    .signup-container h3 {
        font-size: 26px;
    }

    .signup-container button {
        font-size: 20px;
        width: 100%;
    }

    .form-group {
        font-size: 20px;
    }
}

/*Large phones and small tablets */
@media screen and (min-width: 421px) and (max-width: 576px) {
    /* nav bar positioning */
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 10px;
        width: auto;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 0px;
        width: auto;
        min-width: 100px;
        z-index: 1; 
        background-color: black;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .signup-container {
        width: 90%;
    }

    .page-title {
        margin-top: 50px;
        margin-bottom:40px;
        width: 90%;
    }

    .page-title h2 {
        font-size: 36px;
    }

    .page-title p {
        font-size: 14px;
    }

    .page-title li {
        font-size: 18px;
    }

    #welcome-screen {
        margin-bottom: 50px;
        font-size: 0.5em;
        width: 90%;
    }

    #welcome-screen h5 {
        font-size: 28px;
    }

    .quiz-container {
        width: 90%;
        min-height: 450px;
    }

    #question {
        font-size: 28px;
        margin-bottom: 0;
    }

    #results-screen {
        margin-top: 20px; 
        width: 80%;
    }

    #quiz-progress {
        font-size: 20px;
    }

    #answers {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 0;
    }

    .answer {
        font-size: 20px;
    }

    #timer {
        margin-top: 0;
        font-size: 20px;
    }
}

    /*Small tablets */
    @media screen and (min-width: 577px) and (max-width: 768px){ 
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 10px;
        width: auto;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 0px;
        width: auto;
        min-width: 100px;
        z-index: 1; 
        background-color: black;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    } 

    .page-title {
        margin-top: 50px;
        margin-bottom:40px;
        width: 90%;
    }

    .page-title h2 {
        font-size: 36px;
    }

    .page-title p {
        font-size: 14px;
    }

    .page-title li {
        font-size: 18px;
    }

    #welcome-screen {
        margin-bottom: 50px;
        font-size: 0.5em;
        width: 90%;
    }

    #welcome-screen h5 {
        font-size: 28px;
    }

    #question {
        font-size: 18px;
    }

    .quiz-container {
        width: 80%;
        min-height: 470px;
    }

    #answers {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 0;
    }

    #timer {
        margin-top: 0;
        font-size: 20px;
    }

    #results-screen {
        margin-top: 20px; 
        width: 80%;
    }
}

/* do you need this below? Larger tabs and screens */
@media screen and (min-width: 769px) and (max-width: 1200px){ 
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 10px;
        width: auto;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 0px;
        width: auto;
        min-width: 100px;
        z-index: 1; 
        background-color: black;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    } 

    .page-title {
        margin-top: 50px;
        margin-bottom:40px;
        width: 90%;
    }

    .page-title h2 {
        font-size: 36px;
    }

    .page-title p {
        font-size: 14px;
    }

    .page-title li {
        font-size: 18px;
    }

    #welcome-screen {
        margin-bottom: 50px;
        font-size: 0.5em;
        width: 90%;
    }

    #welcome-screen h5 {
        font-size: 28px;
    }

    #question {
        font-size: 18px;
    }

    .quiz-container {
        width: 80%;
        min-height: 470px;
    }

    #answers {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 0;
    }

    #timer {
        margin-top: 0;
        font-size: 20px;
    }

    #results-screen {
        margin-top: 20px; 
        width: 80%;
    }
}
